@import "./colours.scss";

// ** Standard ** //
.invisible {
   position: absolute;
   opacity: 0;
}

.standard-accordion-trigger {
   &:checked {
      & + .standard-accordion-wrapper {
         max-height: 1000px;

         .standard-accordion-header:after {
            transform: rotate(45deg)
         }
      }
   }
}

.standard-accordion-wrapper {
   display: block;
   border-radius: 7.5px;
   overflow: hidden;
   max-height: 49px;
   margin: 10px 0;

   &.standard {
      .standard-accordion-header {
         font-weight: bold;
      }
   }

   // Colours
   &.pink-cream {
      background-color: $pink-cream;

      .standard-accordion-header {
         background-color: $pink-cream;
      }

      .standard-accordion-content {
         background-color: #fff7f7
      }
   }

   &.pink {
      background-color: $pink;

      .standard-accordion-header {
         background-color: $pink;
         color: #FFF;
      }

      .standard-accordion-content {
         background-color: $pink-cream
      }
   }
}

.standard-accordion-header {
   display: block;
   width: calc(100% - 30px);
   padding: 15px;
   text-align: left;
   display: flex;
   align-items: center;
   justify-content: space-between;
   cursor: pointer;

   &:after {
      display: inline-block;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\2b";
      transition:cubic-bezier(1, 0, 0, 1)
   }
}

.standard-accordion-content {
   padding: 15px;
   text-align: left;
   
   p {
      margin: 0
   }
}